<h3 id="back"><a href="/genres">&larr; Back</a></h3>
<h1 id="title" class="animated fadeInDownBig">GENRES</h1>
<div class="spinner" id="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div class="genres animated" id="genres">
  {{#each genres}}
    {{#each this}}
      <div id="{{@key}}" class="{{this}} genre-text"></div>
    {{/each}}
  {{/each}}
</div>

<script src='/javascripts/progressbar.js/dist/progressbar.min.js'></script>
<script src='/javascripts/browser-request/index.js'></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" canvas="genresCanvas" src="/javascripts/genres.js"></script>
<!-- script type="text/paperscript" src="/javascripts/genresPaper.js" canvas="genresCanvas"></script -->
