<h1 class="title animated fadeInUpBig">M.M.I.X.E.R.</h1>
<h2 id='login' class="login-text animated fadeInUpBig"><a class="login-link" href="/login">
  <button class="login"><h2 class="login-text">
    Login with Spotify
  </button>
</a></h2>
<div class="spinner animated" id="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<footer>
  <p class="creator">Made with &hearts; by <a href="http://danagilliann.me/">Dana Lee</a></p>
</footer>
<script src='/javascripts/progressbar.js/dist/progressbar.min.js'></script>
<script src='/javascripts/browser-request/index.js'></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='/javascripts/index.js'></script>
