<h1 class="title">M.M.I.X.E.R.</h1>
<h2 class="login-text"><a class="login-link" href="/login">
  <button class="login"><h2 class="login-text">
    Login with Spotify
  </button>
</a></h2>
<footer>
  <p class="creator">Made with &hearts; by <a href="http://danagilliann.me/">Dana Lee</a></p>
</footer>
