<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/animate.css'/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:700|Droid+Sans+Mono" rel="stylesheet">
  </head>
  <body id='body'>
    {{{body}}}
  </body>
  <script src='/javascripts/progressbar.js/dist/progressbar.min.js'></script>
  <script src='/javascripts/browser-request/index.js'></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</html>
